<p id="notice"><%= notice %></p>

<h1>Leaderboard</h1>

<p>
<table class="table">
  <thead>
      <tr>
        <th>&nbsp;</td>
        <th>&nbsp;</td>
        <th>Total</th>
        <th>This week</th>
        <th>All time</th>
        <th>Longest streak</th>
      </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td class="full-name"><%= user.full_name %></td>
        <td class="step-count"><%= user.user_action_steps.from_beginning.count %></td>
        <td class="this-week"><%= user.this_week_percentage %>%</td>
        <td class="all-time"><%= user.all_time_percentage %>%</td>
        <td class="longest-streak"><%= user.longest_streak %> workout<%= "s" if user.longest_streak > 1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

