<p id="notice"><%= notice %></p>

<h1>Leaderboard</h1>

<p>
<table>
  <thead>
      <tr>
        <th>&nbsp;</td>
        <th>&nbsp;</td>
        <th>Total</th>
        <th>This week</th>
        <th>All time</th>
        <th>Longest streak</th>
      </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.full_name %></td>
        <td><%= user.user_action_steps.count %></td>
        <td><%= user.this_week_percentage %>%</td>
        <td><%= user.all_time_percentage %>%</td>
        <td><%= user.longest_streak %> workout<%= "s" if user.longest_streak > 1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

