<%= form_with(url: user_default_user_action_steps_path(user.id), method: :post, local: true) do |form| %>
	<div class="modal fade" id="add-default-action-step-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Create schedule for <%= user.full_name %></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<%= form.label 'action_steps' %>
						<%= form.collection_select(:action_steps, ActionStep.all.order(:name), :id, :name, { include_blank: false }, { class: 'form-control', required: true, multiple: true }) %>
					</div>
					<div class="form-group">
						<%= form.label 'starting_at' %>
						<%= datepicker_input(form, :starting_at) %>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<%= form.submit 'Save schedule', class: 'btn btn-primary' %>
				</div>
			</div>
		</div>
	</div>
<% end %>
