<div class="container">
  <div class="row">
    <div class="col">
      <%= render 'form', user: @user %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-default-action-step-modal">
        Schedule upcoming cards
      </button>

      <%= render('default_action_steps',
                 title: "Current schedule",
                 date_format: "%a, %b %e, %Y",
                 show_state: true,
                 table_class: 'default',
                 show_active_expires: true,
                 show_top_separator: false,
                 show_bottom_separator: false,
                 default_user_action_steps: @default_user_action_steps.current
                )
      %>

      <%= render('default_action_steps',
                 title: "Upcoming schedule",
                 date_format: "%a, %b %e, %Y",
                 show_state: true,
                 table_class: 'default',
                 show_active_expires: true,
                 show_top_separator: false,
                 show_bottom_separator: false,
                 default_user_action_steps: @default_user_action_steps.future
                )
      %>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-action-step-modal">
        Add a card
      </button>

      <%= render('action_steps',
                 title: "This week's cards",
                 date_format: "%a, %b %e, %Y",
                 show_state: true,
                 show_completed: true,
                 table_class: 'current',
                 show_active_expires: false,
                 show_top_separator: false,
                 show_bottom_separator: false,
                 user_action_steps: @user_action_steps.current.order(created_at: :desc)
                )
      %>
    </div>
    <div class="col">
      <%= render('action_steps',
                 title: "Old cards",
                 date_format: "%a, %b %e, %Y",
                 show_state: true,
                 show_completed: true,
                 table_class: 'table-dark past',
                 show_active_expires: true,
                 show_top_separator: false,
                 show_bottom_separator: false,
                 user_action_steps: @user_action_steps.previous.order(created_at: :desc)
                )
      %>
    </div>
  </div>
</div>
<%= render('action_step_add_form',
					 title: nil,
					 date_format: "%a, %b %e, %Y",
					 user: @user
					)
%>
<%= render('default_action_step_add_form',
					 title: nil,
					 date_format: "%a, %b %e, %Y",
					 show_top_separator: false,
					 show_bottom_separator: false,
					 user: @user
					)
%>
