<p id="notice"><%= notice %></p>

<h1><%= @user.full_name %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>This Week's Action Steps</h2>
<ul>
<% @user_action_steps.each do |uas| %>
  <li>
    <%= uas.name %>
    -
    <%= uas.active_date %>
  </li>
<% end %>
</ul>
