<p id="notice"><%= notice %></p>

<h1>User Action Steps</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Action step</th>
      <th>Active date</th>
      <th>Expiration date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_action_steps.each do |user_action_step| %>
      <tr>
        <td><%= user_action_step.user.full_name %></td>
        <td><%= user_action_step.action_step %></td>
        <td><%= user_action_step.active_date %></td>
        <td><%= user_action_step.expiration_date %></td>
        <td><%= user_action_step.status %></td>
        <td><%= link_to 'Show', user_action_step %></td>
        <td><%= link_to 'Edit', edit_user_action_step_path(user_action_step) %></td>
        <td><%= link_to 'Destroy', user_action_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Action Step', new_user_action_step_path %>
