<h1><%= @user.full_name %></h1>

<h3>
  This week:
  <%= @user_action_steps.current.completed.count %>
  /
  <%= @user_action_steps.current.count %>
  &mdash;
  All time:
  <%= @user_action_steps.completed.count %>
  /
  <%= @user_action_steps.count %>
</h3>

<div class="card-group">
  <% @user_action_steps.current.each do |user_action_step| %>
    <% if user_action_step.open? %>
      <%= link_to(user_user_action_step_complete_path(user_action_step.user, user_action_step), method: :put, class: 'btn open-step') do %>
        <div class="card mb-3 text-center bg-<%= user_action_step.open? ? "success" : "secondary" %>">
            <div class="card-body">
              <h5 css="card-title"><%= user_action_step.action_step.name %></h5>
              <h1>
                   <i class="fa fa-7x  fa-circle-o"></i>
              </h1>
            </div>
          </div>
       <% end %>
    <% else %>
      <%= link_to(user_user_action_step_open_path(user_action_step.user, user_action_step), method: :put, class: 'btn closed-step') do %>
        <div class="card mb-3 text-center bg-<%= user_action_step.open? ? "success" : "secondary" %>">
          <div class="card-body">
            <h5 css="card-title"><%= user_action_step.action_step.name %></h5>
            <h1>
                 <i class="fa fa-lg fa-check-circle-o"></i>
            </h1>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

