<p id="notice"><%= notice %></p>

<h1><%= @user.full_name %></h1>

<p>
  This week:
  <%= @user_action_steps.current.completed.count %>
  /
  <%= @user_action_steps.current.count %>
</p>
<p>
  All time:
  <%= @user_action_steps.completed.count %>
  /
  <%= @user_action_steps.count %>
</p>

<div class="card-group">
  <% @user_action_steps.current.each do |user_action_step| %>
  <div class="card mb-3 text-center bg-<%= user_action_step.open? ? "success" : "secondary" %>">
      <div class="card-body">
        <h5 css="card-title"><%= user_action_step.action_step.name %></h5>
        <h1>
        <% if user_action_step.open? %>
           <%= link_to(user_user_action_step_complete_path(user_action_step.user, user_action_step), method: :put, class: 'btn') do %>
             <i class="fa fa-7x  fa-circle-o"></i>
           <% end %>
        <% else %>
           <%= link_to(user_user_action_step_open_path(user_action_step.user, user_action_step), method: :put, class: 'btn') do %>
             <i class="fa fa-lg fa-check-circle-o"></i>
           <% end %>
        <% end %>
        </h1>
      </div>
    </div>
  </div>
  <% end %>
</div>

