<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_action_step.user %>
</p>

<p>
  <strong>Action step:</strong>
  <%= @user_action_step.action_step %>
</p>

<p>
  <strong>Active date:</strong>
  <%= @user_action_step.active_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @user_action_step.expiration_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_action_step.status %>
</p>

<%= link_to 'Edit', edit_user_user_action_step_path(@user, @juser_action_step) %> |
