<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Serving type:</strong>
  <%= @food.serving_type %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @food.carbs %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @food.fat %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @food.protein %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @food.calories %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
