<!DOCTYPE html>
<html>
  <head>
    <title>Revo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/users"><img src="https://revomt.com/wp-content/uploads/2018/01/logo_350.png" /></a>
    <%= yield %>
  </body>
</html>
